/* Element styles */
body {
    margin: 0;
    overflow: hidden;
    font-family: sans-serif;
}

/* base class styles */
.main {
    background-color: #b3c2d8;
    width: 80%;
    min-width: 800px;
    height: 100%;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -40%;
}

.chat {
    width: 300px;
    height: 200px;
    padding-top: 15px;
    margin: 0 auto;
    display: block;
}

.chat-log-container {
    background-color: #d4f9eb;
    width: 70%;
    max-width: 800px;
    height: 500px;
    margin: 15px auto;
    border: solid 3px #777;
    display: block;
    border-radius: 10px;
    position: relative;
}

.username-wrapper {
    background-color: #fff;
    width: 65%;
    height: 40px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: solid 1px #777;
}

.username-input {
    text-align: center;
    font-size: 16px;
    flex: auto;
    margin: 2px 5px;
    border: none;
}

.username-input::placeholder {
    text-align: center;
    font-size: 16px;
}

.username-input:focus {
    outline: none;
}

.username-validation-error {
    color: red;
    display: block;
    width: 65%;
    margin: 3px auto;
}

.chat-log {
    width: 90%;
    margin: 10px auto;
    height: 320px;
    overflow: auto;
}

.message-wrapper {
    width: 94%;
    border: solid 1px #777;
    margin: 5px auto;
    border-radius: 2px;
    background-color: #effff9;
    display: flex;
    align-items: center;
    padding: 10px;
}

.current-user {
    background-color: #cfe0f9;
}

.message-meta {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.meta-user {
    flex: 1 0 auto;
    font-weight: 700;
}

.meta-time {
    display: flex;
    font-size: 10px;
    font-weight: 300;
    color: #888;
}

.chat-controls {
    width: 92%;
    max-width: 730px;
    height: 80px;
    background-color: #f9f9f9;
    border-radius: 10px;
    margin: 10px;
    position: absolute;
    display: block;
    bottom: 0;
    left: 50%;
    margin-left: -46%;
    border: solid 1px #777;
}

.chat-content {
    resize: none;
    font-size: 14px;
    width: 85%;
    height: 85%;
    border: none;
    background-color: #f9f9f9;
    margin-left: 15px;
}

.chat-content:focus {
    outline: none;
}

.chat-button {
    position: absolute;
    right: 20px;
    height: 60px;
    top: 50%;
    margin-top: -30px;
    border-radius: 5px;
    border: thin solid #777;
    background-color: #f9f9f9;
}

/* utility class styles */
.hidden {
    display: none;
}

.focus {
    box-shadow: 5px 20px 30px rgba(0, 0, 25, 0.1)
}