body {
    margin: 0;
    overflow: hidden;
}

.main {
    background-color: #b3c2d8;
    width: 80%;
    min-width: 800px;
    height: 80%;
    min-height: 1000px;
    margin: 0 auto;
}

.chat {
    width: 300px;
    height: 200px;
    padding-top: 15px;
    margin: 0 auto;
    display: block;
}

.chat-log-container {
    background-color: #d4f9eb;
    width: 70%;
    max-width: 800px;
    height: 500px;
    margin: 15px auto;
    border: solid 3px #777;
    display: block;
    border-radius: 10px;
    position: relative;
}

.username-wrapper {
    background-color: #fff;
    width: 65%;
    height: 40px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.username-input {
    text-align: center;
    font-size: 16px;
    flex: auto;
    margin: 2px 5px;
    border: none;
}

#username-input::placeholder {
    text-align: center;
    font-size: 16px;
}

.chat-controls {
    width: 92%;
    max-width: 730px;
    height: 80px;
    background-color: #f9f9f9;
    border-radius: 10px;
    margin: 10px;
    position: absolute;
    display: block;
    bottom: 0;
    left: 50%;
    margin-left: -46%;
}

.chat-content {
    resize: none;
    font-size: 14px;
    width: 85%;
    height: 90%;
    border: none;
    background-color: #f9f9f9;
    padding-top: 5px;
    padding-left: 10px;
}

.chat-button {
    position: absolute;
    right: 20px;
    height: 60px;
    top: 50%;
    margin-top: -30px;
    border-radius: 5px;
    border: thin solid #777;
    background-color: #f9f9f9;
}
